@import url('https://fonts.googleapis.com/css?family=Inter:ital,opsz, wght@0,14..32,100..900;1,14..32,100..900&display-swap');

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: "Inter", sans-serif;
}

body {

    background-color: #232323;

    color: #ebebeb;
    padding-top: 70px;

}

header {
    padding: 12px 15px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(31, 31, 31, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: fixed;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    color: white;
    top: 0;
}


.user-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.username {
    display: flex;
    align-items: center;
    gap: 16px;
}

.username div {
    width: 40px;
    height: 40px;
    background-color: blueviolet;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.container1 {
    max-width: 669px;

    height: auto;

    margin: 0 auto;

    padding-top: 30px;
}

.btn {
    background-color: transparent;
    color: #ebebeb;
    border: 2px solid #ebebeb;
    padding: 7px 20px;
    border-radius: 5px;
    font-weight: 600;
}

.btn2 {
    background-color: blueviolet;
    color: #ebebeb;
    padding: 7px 20px;
    border-radius: 5px;
    font-weight: 600;
}

h2 {
    margin-top: 15px;
}

p {

    margin: 20px 0;

    font-size: 16px;

    line-height: 1.5em;
}

.image-div {
    height: 399px;
    width: 100%;
}

.image-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a {
    color: #ffffff;
    text-transform: lowercase;
}

@media (max-width: 500px) {
    .image-div {

        height: 260px;

        width: 100%;
    }

    .container {
        padding: 14px;
    }
}